@import url(fonts.css);

body{
  /*min-height: 740px;*/
  min-width: 900px;
  background: rgb(196, 6, 6);
  color: rgb(11, 12, 11);

}

h1{
  font-size: 48px
  text-align: center;
}

h2{
  font-size: 36px;
  margin-bottom: 0px;
  text-align: center;
}

blockquote{
  background-color: rgba(0,222,222,0.5);
  padding: 0 0 0 10px;
  color: rgb(22,22,0);
}

.code{
  font-family: monospace;
  font-size: 24px;
  background-color: black;
  color: lightgray;
  border: 2px solid rgba(10, 10, 10, .3);
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  /*text-shadow: 0 2px 2px rgba(0, 0, 0, .1);*/
}


#step-7 h1{
  margin-bottom: 0px;
  margin-top: 0px;
}


.step{
    position: relative;
    /*width: 900px;*/
    padding: 40px;
    margin: 20px auto;

    box-sizing:         border-box;

    font-family: 'Open Sans', georgia, serif;
    font-size: 36px;
    line-height: 1.5;
}

#step-1{
  display:none;
}

#step-2{
  display:none;
}

#step-1.active{
    display: block;
}

#step-2.active{
    display: block;
}

#step-3-1{
  display:none;
}

#step-3-2{
  display:none;
}

#step-3-1.active{
    display: block;
}

#step-3-2.active{
    display: block;
}

#step-4 h1{
    text-align: left;
}

#lbp{
    width:45%;
    position: fixed;
    top: -85px;
    right:-45px;
}

#stp1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#stp2{
  position: fixed;
  right: 0px;
  width: 45%;
}

#step-6 ul{
  width: 45%;
}

#step-8{
    font-size: 22px;
}

#step-8 a:link{
  text-decoration: underline;
}

a:link{
color: white;
text-decoration: none;
}

a:hover{
color: white;
text-decoration: none;
}

a:visited{
color: white;
text-decoration: none;
}

#step-9 a:link{
  color: rgb(255, 200, 0);
  text-decoration: none;
}

#step-9 a:hover{
  color: rgb(255, 200, 0);
}

#step-9 a:visited{
  color: rgb(255, 200, 0);
}

#handout{
    position: fixed;
    right:0;
    bottom:0;
}

#handout p{
    display: inline;
}

#handout img{
    display: inline;
}

.video{
    text-align: center;
    vertical-align: middle;
}




.slide{

    width: 1000px;
    height: 900px;
    padding: 40px 60px;

	background: rgb(196, 6, 6);
	background-color: rgb(196,6,6);

    /*background-image: url(../images/background.png);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;

    display: flex;
    flex-direction: column;
    align-items:left;

}

.script{
  	width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    background: rgb(196, 6, 6);
  	background-color: rgb(196,6,6);
}


.title{
  align-items: center;
}

.qr{
	display:flex;
	align-self: center;
	align-items: center;
}
